[Desktop Entry]
Type=Application
Name=StructuredLogViewer
GenericName=StructuredLogViewer
Comment=GUI application for viewing structured logs
Exec=usr/bin/StructuredLogViewer
Icon=StructuredLogViewer
Terminal=false
Categories=Utility;
