[Desktop Entry]
Type=Application
Name=StructuredLogViewer
GenericName=Log Viewer
Comment=GUI application for viewing and analyzing structured log files.
Exec=StructuredLogViewer
Icon=StructuredLogViewer
Terminal=false
Categories=Utility;Development;
Keywords=log;viewer;structured;analysis;
StartupNotify=true
