[Desktop Entry]
Type=Application
Name=StructuredLogViewer
GenericName=StructuredLogViewer
Comment=GUI application for viewing structured logs
Icon=StructuredLogViewer
Terminal=false
Categories=Utility;
